<ion-view view-title="Add a Book">
  <ion-content>
    <a href="#/form/" class="button button-block button-positive">
      <i class="icon ion-plus"></i> Add
    </a>
      <!--button id="type2" class="button button-block button-positive" placeholder="type" ng-click='open()' ><i class="icon ion-plus"></i> Add</button>
      <script id='orderPopup.html' type='text/ng-template' >
        <ion-radio class="wrapping-list" ng-model="choose.type" ng-value="1" selected>to Read</ion-radio>
        <ion-radio class="wrapping-list" ng-model="choose.type" ng-value="2">Start Reading</ion-radio>
      </script>
    </ion-content-->

</ion-view>
