<ion-view view-title="{{pagetitle}}">
  <ion-content>
    <div class="list">
      <label ng-show="!noteForm.id" class="item item-input">
        <input type="text" placeholder="Title" ng-model="noteForm.title">
      </label>
      <label ng-show="noteForm.id" class="item item-input">
        <input type="text" placeholder="Title" ng-model="noteForm.title" disabled>
      </label>
      <label ng-show="!noteForm.id" class="item item-input">
        <textarea id="type1" placeholder="type" ng-click='open()' ng-model="noteForm.type">{{noteForm.type}}</textarea>
        <script id='orderPopup.html' type='text/ng-template' >
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Literature'" selected>Literature</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Computer Science'">Computer Science</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Maths'">Maths</ion-radio>
        </script>
      </label>
      <label ng-show="noteForm.id" class="item item-input">
        <textarea id="type1" placeholder="type" ng-click='open()' ng-modal=noteForm.type disabled>{{noteForm.type}}</textarea>
      </label>
      <label ng-show="!noteForm.id" class="item item-input">
        <input id="pages" type="number" placeholder="number of pages" ng-model="noteForm.pages"/>
      </label>

      <label ng-show="noteForm.id" class="item item-input">
        <input id="pages" type="number" placeholder="number of pages" ng-model="noteForm.pages"/>
      </label>
              <!--div class="item">
                <pre ng-bind="pushNotification | json"></pre>
              </div-->
            <div ng-show="pushNotification.checked">
              <label class="item item-input">
                <input id="pagesRead" type="number" placeholder="Pages Read" ng-model="noteForm.pagesRead" />
              </label>
            <label class="item item-input">
              <!--input  id="date2" type="number" placeholder="days to finish" ng-modal="noteForm.finished"/-->
              <textarea  id="date2" placeholder="Expected Finish Reading Date" ng-click="openDatePicker()" ng-modal="noteForm.finished">{{noteForm.finished}}</textarea>
            </label>
          </div>
          <ion-checkbox id="check" ng-model="pushNotification.checked"
                          ng-change="pushNotificationChange()" ng-hide="noteForm.status==2||noteForm.status==3">
              Start Reading
            </ion-checkbox>
          <div>
            <ion-checkbox id="check2" ng-model="pushNotification2.checked"
                            ng-change="pushNotificationChange2()" ng-hide="noteForm.status==3">
                finished
              </ion-checkbox>
          </div>
    </div>
    <div ng-show="!noteForm.id" class="button-bar">
    <button class="button button-positive" ng-click="saveNote()">
      <i class="icon ion-checkmark"></i>Save
    </button>
    <a class="button button-calm" ng-click="onCancel()">Cancel</a>
  </div>
    <div ng-show="noteForm.id" class="button-bar">
      <button class="button button-positive" ng-click="saveNote()" >
        <i class="icon ion-checkmark"></i>
      </button>
      <a class="button button-calm" ng-click="confirmDelete(noteForm.id)">
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
