<ion-view view-title="Reading Challenge">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="noteForm.title">
      </label>
      <label class="item item-input">
        <textarea id="type1" placeholder="type" ng-click='open()' >{{noteForm.type}}</textarea>
        <script id='orderPopup.html' type='text/ng-template' >
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Literature'" selected>Literature</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Computer Science'">Computer Science</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Maths'">Maths</ion-radio>
        </script>
      </label>
            <ion-checkbox id="check" ng-model="pushNotification.checked"
                            ng-change="pushNotificationChange()" ng-show="!pushNotification.checked&&!noteForm.finished">
                Start Reading Immediately
              </ion-checkbox>
              <!--div class="item">
                <pre ng-bind="pushNotification | json"></pre>
              </div-->
            <div ng-show="pushNotification.checked||noteForm.finished">
            <label class="item item-input">
              <textarea  id="date2" placeholder="date" ng-click="openDatePicker()" ng-modal="noteForm.finished">{{noteForm.finished}}</textarea>
            </label>
            <label class="item item-input">
              <textarea id="pages" placeholder="number of pages" ng-model="noteForm.pages" ></textarea>
            </label>
            <label ng-show="noteForm.pages" class="item item-input">
              <textarea id="pagesRead" placeholder="Pages Read" ng-model="noteForm.pagesRead" ></textarea>
            </label>
          </div>
    </div>
    <div ng-show="!noteForm.id" class="button-bar">
    <button class="button button-positive" ng-click="saveNote()">
      <i class="icon ion-checkmark"></i>Save
    </button>

    <a class="button button-calm" href="#/app/add/">Cancel</a>
  </div>


    <div ng-show="noteForm.id" class="button-bar">
      <a class="button button-positive" ng-click="saveNote()" href="#/app/add">
        <i class="icon ion-checkmark"></i>
      </a>
      <a class="button button-calm" ng-click="confirmDelete(noteForm.id)">
        <i class="icon ion-trash-b"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
