<ion-view view-title="To Read">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="noteForm.title">
      </label>
      <label class="item item-input">
        <textarea id="type1" placeholder="type" ng-click='open()' ></textarea>
        <script id='orderPopup.html' type='text/ng-template' >
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Literature'" selected>Literature</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Computer Science'">Computer Science</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm.type" ng-value="'Maths'">Maths</ion-radio>
        </script>
      </label>
    </div>

    <button ng-show="!noteForm.id" class="button button-full button-positive ng-hide" ng-click="saveNote()">
      Save
    </button>

    <div ng-show="noteForm.id" class="button-bar">
      <a class="button button-positive" ng-click="saveNote()">
        <i class="icon ion-checkmark"></i>
      </a>
      <a class="button button-calm" ng-click="confirmDelete(noteForm.id)">
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
