<ion-view view-title="Currently Reading">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <textarea type="text" placeholder="Title" ng-model="noteForm2.title"></textarea>
        <!--select ng-model="noteForm2.type">
          <option selected>Literature</option>
          <option>Computer Science</option>
          <option>Science</option>
        </select-->
      </label>

      <label class="item item-input">
        <textarea id="type2" placeholder="type" ng-click='open()' ></textarea>
        <script id='orderPopup.html' type='text/ng-template' >
          <ion-radio class="wrapping-list" ng-model="noteForm2.type" ng-value="'Literature'" selected>Literature</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm2.type" ng-value="'Computer Science'">Computer Science</ion-radio>
          <ion-radio class="wrapping-list" ng-model="noteForm2.type" ng-value="'Maths'">Maths</ion-radio>
        </script>
      </label>

      <label class="item item-input">
        <textarea  id="date2" placeholder="date" ng-click="openDatePicker()" ng-modal="noteForm2.period">{{noteForm2.period}}</textarea>
      </label>
      <label class="item item-input">
        <textarea placeholder="number of pages" ng-model="noteForm2.pages" ></textarea>
      </label>
    </div>
    <button ng-show="!noteForm2.id" class="button button-full button-positive ng-hide" ng-click="saveNote2()">
      Save
    </button>

    <div ng-show="noteForm2.id" class="button-bar">
      <a class="button button-positive" ng-click="saveNote2()">
        <i class="icon ion-checkmark"></i>
      </a>
      <a class="button button-calm" ng-click="confirmDelete(noteForm2.id)">
        <i class="icon ion-trash-b"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
