<ion-view view-title="Currently Reading">
  <ion-content>
    <div class="card" ng-repeat="item in itemsList2" ng-click="gotoEdit(item.id)">
      <div class="item item-divider">
        {{item.title}}
        <span class="item-note">
          {{item.pagesRead}}/{{item.pages}}
    </span>
      </div>
      <div class="item item-text-wrap">
      {{item.type}}
      <span class="item item-note">
     <table><tr><td>  Start date<td>:&nbsp;</td><td> {{item.started}}</td>
     <tr><td>  Finish the book before<td>:&nbsp;<td> {{item.finished}}</tr></table>        </span>

      </div>

    </div>

    <!--div class="button-bar">
      <a href="#/app/form2/" class="button button-calm">
      <i class="icon ion-plus-circled"></i>Add a new Book
    </a>
    <a href="#" class="button button-positive">
    <i class="icon ion-plus-circled"></i> Add book from list
  </a>
</div-->
<a class="button button-positive button-block" ng-click="delete2()">
  <i class="icon ion-trash-b"> Delete All</i>
</a>
    </ion-content>
</ion-view>
