<ion-view view-title="Read">
  <ion-content >
    <!--a href="#/app/form/" class="button button-block button-positive">
      <i class="icon ion-plus"></i> Add
    </a-->
    <a class="button button-positive button-block" ng-click="delete3()">
      <i class="icon ion-trash-b"> Delete All</i>
    </a>
    <!--div class="card" ng-repeat="item in itemsList">
      <div class="item item-divider" ng-click="gotoEdit(item.id)">
        {{item.title}}
      </div>
      <div class="item item-text-wrap">
        {{item.type}}

      </div>
    </div-->

  </ion-content>
</ion-view>
