<ion-view view-title="Currently Reading">
  <ion-content>
    <a class="button button-positive button-block" ng-click="delete2()">
      <i class="icon ion-trash-b"> Delete All</i>
    </a>
    <div class="card" ng-repeat="item in itemsList2">
      <div class="item item-divider" ng-click="gotoEdit(item.id)">
        {{item.title}}
        <span class="item-note">
          {{item.type}}
        </span>
      </div>
      <div class="item item-text-wrap">
        {{item.finished}}
      <span class="item item-note">
      {{item.pages}}
    </span>
      </div>
    </div>

    <!--div class="button-bar">
      <a href="#/app/form2/" class="button button-calm">
      <i class="icon ion-plus-circled"></i>Add a new Book
    </a>
    <a href="#" class="button button-positive">
    <i class="icon ion-plus-circled"></i> Add book from list
  </a>
</div-->

    </ion-content>
</ion-view>
